/* Fake Google CSS*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

#container {
	width: 580px;
	margin: 200px auto 0;
	text-align: center;

}

h1#logo {
	width: 269px;
	height: 95px;
	background: url('images/google-logo.png') top left no-repeat;
	background-size: 100%;
	text-indent: -9999px;
	margin: 0 auto;
}

input[type="text"] {
	width: 550px;
	padding: 13px;
	margin: 20px 0 20px;
	border: solid 1px #ccc;
	font-size: 16px;
	font-family: Helvetica, sans-serif;
	border-radius: 24px;
} 

input[type="text"]:hover {
	border-color: #aaa;
	box-shadow: 3px 3px 6px 3px rgba(0,0,0,0.06);
}

input[type="submit"] {
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 4px;
	color: #5f6368;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	height: 36px;
}

input[type="submit"]:hover {
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	background-color: #a5a5a525;
	border: 1px solid #c6c6c6;
	color: #222;
	cursor: pointer;
}

a:link {
	color: #000;
	opacity: 0.75;
	text-decoration: none;
	font-size: 13px;
}

a:link, a:visited {
	color: #000;
	opacity: 0.75;
	text-decoration: none;
	font-size: 13px;
	
}

header nav {
	text-align: left;
	padding: 15px;
	position: fixed;
	float: right;
	top: 0;
	width: 100%;

}

header nav ul {
	float: left;
}

header nav ul.top-right-links {
	float: right;
}

header nav ul li,
footer nav ul li {
	display: inline;
}

header nav ul li a:link,
header nav ul li a:visited,
footer nav ul li a:link,
footer nav ul li a:visited {
	padding: 10px;
}

header nav ul li a:hover,
footer nav ul li a:hover {
	text-decoration: underline;
}

footer {
	background-color: #f2f2f2;
	text-align: right;
	padding: 15px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer nav ul {
	float: left;
}

footer nav ul.right-links {
	float: right;
}
